.status-btn {
    width: 700px;
    height: 25px;
    border-radius: 6px;
    font-size: 12px;
}
.grid-v {
    background-color: #f1f1f1;
    border-collapse: collapse;
    border-right: none;
}
.rz-grid-table td:not(:last-child) {
    background-color: rgba(244, 243, 170, 0.7);
}