@inherits LayoutComponentBase
@inject NavMenuService navMenuService

<div class="page">
    
    @if (navMenuService.shouldCollapse)
    {
        <div class="sidebar" style="width:100px">
            <NavMenu ml=@this />
        </div>

    }
    else
    {
        <div class="sidebar" style="width:200px">
            <NavMenu ml=@this />
        </div>

    }

    

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

    <RadzenDialog />
    <RadzenNotification />
    <RadzenContextMenu />
    <RadzenTooltip />

@code{
    private void ToggleNavMenu()
    {
        //navMenuService.shouldCollapse = !navMenuService.shouldCollapse;
        navMenuService.SetCollapse(!navMenuService.shouldCollapse);
        StateHasChanged();
    }

    public void RefreshLayout()
    {
        StateHasChanged();

    }
}